<div class="list-header">Terminarz</div>
<mat-progress-bar *ngIf="isLoading" class="w-100" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="tab-container">
    <mat-tab-group *ngIf="leagueList">
      <ng-container *ngFor="let league of leagueList; let last = last;">
        <mat-tab label="{{ league.name }}">
          <app-match-administration-list [league]="league"
                                         [userList]="userList"
                                         (emitLoadData)="loadData()"
          ></app-match-administration-list>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>
</div>
