<mat-progress-bar *ngIf="isLoading$ | async" class="w-100" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="cards-container">
    <mat-tab-group *ngIf="!!(leagues$ | async)">
      <ng-container *ngFor="let league of (leagues$ | async)">
        <mat-tab [label]="league.name" class="h-100">
          tralalalal
          <!-- <app-team-card-list [teamList]="getTeamsOfLeague(league.id)" (emitLoadData)="loadData()"></app-team-card-list> -->
          <!-- <app-team-card-list [teamList]="getTeamsOfLeague(league.id)" (emitLoadData)="loadData()"></app-team-card-list> -->
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>
</div>
