<mat-progress-bar *ngIf="isLoading$ | async" class="w-100" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="cards-container">
    <!-- <mat-tab-group *ngIf="(leagueViewModel$ | async) as leagueViewModel">
      <ng-container *ngFor="let league of leagueViewModel.leagues">
        <mat-tab [label]="league.name" class="h-100">
          <ng-template matTabContent>
            tralalalal
            <ng-container *ngIf="(getTeamsOfLeague(league.id) | async) as teamViewModel">
              <app-team-card-list [teamList]="teamViewModel.teams" (emitLoadData)="loadData()"></app-team-card-list>
            </ng-container>
          </ng-template>
        </mat-tab>
      </ng-container>
    </mat-tab-group> -->
  </div>
</div>
