<div class="container">
  <mat-tab-group *ngIf="leagues$ | async as leagues">
    <ng-container *ngFor="let league of leagues">
      <mat-tab [label]="league.name" class="h-100">
        <ng-template matTabContent>
          <div class="pt-1">
            <app-base-table
              *ngIf="
                league.id
                  | teamsByLeague : queryParams
                  | async as teamsViewModel
              "
              id="{{ league.id }}"
              [dataPage]="teamsViewModel.teamsPageMap[league.id]"
              [queryParams]="
                teamsViewModel.queryParamsMap[league.id] ?? queryParams
              "
              [tableConfig]="tableConfig"
              [formConfig]="
                formConfig | withDefaultValues : { league: { id: league.id } }
              "
              (queryParamsChange)="applyParamsAndFetch(league.id, $event)"
              (formSubmit)="formSubmit($event)"
              (rowPreview)="openModal(league.id, $event, formViewType.PREVIEW)"
              (rowEdit)="openModal(league.id, $event, formViewType.EDIT)"
              (rowDelete)="openModal(league.id, $event)"
              (delete)="delete(league.id, $event)"
            >
            </app-base-table>
          </div>
        </ng-template>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>
