.cards-container {
  padding-top: 50px;
  width: 100%;
}

:host ::ng-deep {
  .mat-tab-group {
    height: 100%;
  }

  .mat-tab-body-wrapper {
    padding-bottom: 35px;
    height: 100%;
  }
  .mat-tab-body {
    overflow: visible !important;
  }
  .mat-tab-body-content {
    overflow: visible !important;
  }

  .mat-column-logo {
    width: 80px;
  }
}
