.table-header {
  font-size: 2rem;
  margin-bottom: 5px;
}

.option-icon {
  color: #ff7043;
  &:disabled {
    color: rgba(0, 0, 0, 0.2) !important;
  }
}

.option-icon-disabled {
  color: rgba(0, 0, 0, 0.2) !important;
}

.mat-column-options {
  width: 200px;
  text-align: end;
}

.ordinal-column {
  width: 100px;
}

.create-button-box {
  justify-content: flex-end;
  button {
    margin-right: 4px;
  }
}

@media (min-width: 768px) {
  .search-box {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .pagination-box {
    flex: 0 0 65%;
    max-width: 65%;
  }
  .create-button-box {
    flex: 0 0 15%;
    max-width: 15%;
  }
}
