.team-name {
  font-weight: bolder;
  font-size: 130%;
}

.team-logo {
  padding: 65px;
  width: 100%;
  text-align: right;
  opacity: 0.1;
  position: absolute;
}

img {
  height: 220px;
  border-radius: 40px;
}

.team-stats-container {
  position: relative;
}
