<div class="modal-header pb-0">
  <h2 mat-dialog-title>{{ headerText }}</h2>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('close')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="modal-body pb-0">
    <div *ngFor="let formFieldDef of formConfig.formFields" class="form-group">
      <mat-form-field
        *ngIf="formFieldDef.type !== fieldType.IMAGE; else imageFormField"
        class="col-12"
        appearance="fill"
      >
        <mat-label for="{{ formFieldDef.name }}">{{
          formFieldDef.label
        }}</mat-label>
        <ng-container [ngSwitch]="formFieldDef.type">
          <input
            *ngSwitchCase="fieldType.STRING"
            matInput
            type="text"
            [readonly]="readonly"
            [formControl]="formGroup.get(formFieldDef.name)"
            [id]="formFieldDef.name"
            [aria-describedby]="formFieldDef.label"
            [placeholder]="formFieldDef.placeholder"
          />
          <mat-select
            *ngSwitchCase="fieldType.OBJECT"
            controlType="mat-select"
            [formControlName]="formFieldDef.name"
            [id]="formFieldDef.name"
            [name]="formFieldDef.name"
            [compareWith]="compareWithId"
          >
            <ng-container
              *ngIf="
                formFieldDef.selectOptions.isAsync &&
                  formFieldDef.selectOptions.values | async as options;
                else syncValues
              "
            >
              {{ option }}
              <mat-option *ngFor="let option of options" [value]="option">
                {{ option | fieldValue : formFieldDef.selectOptions.viewField }}
              </mat-option>
            </ng-container>
            <ng-template #syncValues>
              <mat-option
                *ngFor="let option of formFieldDef.selectOptions.values"
                [value]="option"
              >
                {{ option | fieldValue : formFieldDef.selectOptions.viewField }}
              </mat-option>
            </ng-template>
          </mat-select>
        </ng-container>
        <mat-hint *ngIf="formFieldDef.hint">
          {{ formFieldDef.hint }}
        </mat-hint>
        <mat-error *ngIf="formGroup.get(formFieldDef.name).invalid">
          <ng-container *ngFor="let validator of formFieldDef.validators">
            <ng-container [ngSwitch]="validator">
              <ng-container *ngSwitchCase="validators.required">
                Pole <strong>{{ formFieldDef.label }}</strong> jest wymagane
              </ng-container>
            </ng-container>
          </ng-container>
        </mat-error>
      </mat-form-field>
      <ng-template #imageFormField>
        <app-file-dropzone-input
          [control]="formGroup.get(formFieldDef.name)"
          [formFieldDefName]="formFieldDef.name"
          [placeholder]="formFieldDef.placeholder"
          [draggedOverPlaceholder]="'Upuść plik tutaj!'"
          [fileType]="formFieldDef.type"
          [readonly]="readonly"
        >
        </app-file-dropzone-input>
      </ng-template>
    </div>
  </div>
  <div *ngIf="!readonly" class="modal-footer">
    <button
      mat-mini-fab
      class="button-modal-cancel"
      type="button"
      (click)="activeModal.dismiss('cancel')"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button mat-mini-fab class="ml-2 button-modal-confirm" type="submit">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</form>
