.administration-container {
  padding-top: 30px;
  width: 100%;
}

.list-header {
  margin-top: 30px;
  font-size: 2rem;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
}
