<div class="container">
  <app-base-table
    *ngIf="leaguesViewModel$ | async as leaguesViewModel"
    [dataPage]="leaguesViewModel.leaguesPage"
    [queryParams]="queryParams"
    [tableConfig]="leagueTableConfig"
    [formConfig]="leagueFormConfig"
    (queryParamsChange)="applyParamsAndFetch($event)"
    (formSubmit)="formSubmit($event)"
    (rowPreview)="openModal($event, formViewType.PREVIEW)"
    (rowEdit)="openModal($event, formViewType.EDIT)"
    (rowDelete)="openModal($event)"
    (delete)="delete($event)"
  >
  </app-base-table>
</div>
