.captain-img {
  max-width: 32px;
  max-height: 32px;
}

.captain-cell {
  width: 40px;
}

.captain-button {
  cursor: default !important;
  background: inherit !important;
}

.players-table {
  overflow-y: auto;
  max-height: 45vh;
}
