<div class="container-fluid first-fluid">
  <div class="container first-fluid-container">
    <div class="content-fluid">
      <p class="info">Sporządzaj statytyki znacznie<br /> prościej i szybciej już teraz</p>
      <button mat-raised-button class="btn btn-light btn-lg button-fluid" [routerLink]="['auth/login']">
        <span class="button-content"><b>Zacznij!</b></span>
      </button>
    </div>
  </div>
</div>

<div id="second-fluid" class="container-fluid z-depth-2">
  <div id="card-box" class="container">
    <div class="row column-content-fluid">
      <div id="first-card" class="col-sm text-center outer-box">
        <div class="text-center middle-box">
          <div class="card second-fluid-card">
            <div class="card-body">
              <p class="second-fluid-card-text">
                Sporządzaj statystyki w czasie rzeczywistym
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="second-card" class="col-sm text-center outer-box">
        <div class="text-center middle-box">
          <div class="card second-fluid-card">
            <div class="card-body">
              <p class="second-fluid-card-text">
                Zarządzaj ligami koszykówki
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="third-card" class="col-sm text-center outer-box">
        <div class="text-center middle-box">
          <div class="card second-fluid-card">
            <div class="card-body">
              <p class="second-fluid-card-text">
                Przeglądaj historię statystyk meczów ligowych
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid third-fluid">
  <div class="container third-fluid-container">
    <div class="content-fluid text-right">
      <p class="info">Sporządzaj statytyki znacznie<br /> prościej i szybciej już teraz</p>
      <button mat-raised-button class="btn btn-light btn-lg button-fluid" [routerLink]="['auth/login']">
        <span class="button-content"><b>Zacznij!</b></span>
      </button>

    </div>
  </div>
</div>

